.result-card {
  margin-bottom: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.dash-heading {
    font-family: "Share Tech Mono", monospace;
    text-shadow: -1px 1px 5px rgb(189, 189, 189);
}

.listing-button {
  color: white;
  max-width: 150px;
  min-width: 150px;
  margin: 15px;
  background-color: rgb(219, 216, 159);
  font-weight: bold;
  text-shadow: -1px 1px 10px #000;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.listing-button:hover {
    background-color: lightgrey
}

.save-button:hover {
    background-color: lightgrey
}

.save-button {
  color: white;
  max-width: 150px;
  min-width: 150px;
  margin: 15px;
  background-color: #d39076;
  font-weight: bold;
  text-shadow: -1px 1px 10px #000;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.feature-bar {
    background-color: #1E1E1E;
    color: white;
}
