.home-hero {
    background: url(../../img/left-dev-2.jpg);
    height: 500px;
  background-repeat: no-repeat;
  background-color: black;
  background-position-x: center;
  background-size: cover;
}

#brand-format {
    font-family: 'Share Tech Mono', monospace;
    color: #DDDAA9;
    background-color: #1E1E1E;
}

/* #br-header {
    margin-top: 20px;
} */

#brand-two {
    color: #D39076
}

.blurb {
    margin-top: 10px;
}

.home-button {
    background-color: #1E1E1E;
    color: white;
    max-width: 100px;
    min-width: 100px;
    margin: 15px;
}