#brand-format {
    font-family: 'Share Tech Mono', monospace;
    color: #DDDAA9;
}

#brand-two {
    color: #D39076;
}

.job-nav {
    background-color: #1e1e1e;
}

.nav-link-job {
    color: white;
    font-family: 'Share Tech Mono', monospace;
}

.nav-link-job:hover {
    color: lightgray
}